@use "global-stylesheets/GlobalColours.scss" as *;
@use "global-stylesheets/GlobalBreakpoints.scss" as *;

.tiles-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: -12.5px;

    &__outer {
        margin-top: 60px;

        @media (max-width: $large-width) or (max-height: $large-height) {
            margin-top: 45px;
        }
        
        @media (max-width: $medium-width) or (max-height: $medium-height) {
            margin-top: 35px;
        }
    }

    &--4-col {
        grid-template-columns: 25% 25% 25% 25%;

        @media (max-width: $large-width) {
            grid-template-columns: 50% 50%;
        }

        @media (max-width: $small-width) {
            grid-template-columns: 100%;
        }
}

    &--3-col {
        grid-template-columns: 33.33% 33.33% 33.33%;

        @media (max-width: $medium-width) {
            grid-template-columns: 100%;
        }
    }

    &--2-col {
        grid-template-columns: 50% 50%;

        @media (max-width: $small-width) {
            grid-template-columns: 100%;
        }
    }

    &--1-col {
        grid-template-columns: 100%;
    }


    &--tilted-ends {
        & > div {

            &:first-child {
                transform: rotate(-2deg);
            }

            &:last-child {
                transform: rotate(2deg);
            }

            &:first-child, &:last-child {
                top: 8px;
            }

            &:first-child, &:last-child {
                @media (max-width: $medium-width) {
                    top: unset;
                    transform: unset;
                }
            }
        }
    }

    &--tilted-alternate {
        & > div {
            transform: rotate(-2deg);

            &:nth-child(even) {
                transform: rotate(2deg);
            }

            @media (max-width: $large-width) {
                transform: rotate(-0.5deg);

                &:nth-child(even) {
                    transform: rotate(0.5deg);
                }
            }
        }
    }
}