@use "global-stylesheets/GlobalStyles.scss" as *;
@use "global-stylesheets/GlobalColours.scss" as *;

.tile {
    background-color: $dark-cherry-red;
    border: 2px solid $salmon-red;
    border-radius: $global-border-radius;
    display: flex;
    flex-direction: column;
    padding: 20px 24px 24px;
    width: 100%;

    &__header-wrap {
        align-items: center;
        display: flex;
        gap: 20px;
    }

    h3 {
        margin-bottom: 16px;
    }

    p {
        color: $pale-red;
    }
}