@import "global-stylesheets/GlobalColourVars.scss";

.button {
    background-color: $crimson-red;
    border-radius: 999px;
    color: $white;
    font-size: 1.125rem;
    font-weight: 700;
    outline: 2px solid $garnet-red;
    padding: 2.5px 16px 2.5px;
    text-decoration: none;
    transition: 0.3s;

    &--nav {
        background-color: $white;
        color: $crimson-red;
        outline-color: $crimson-red;

        &:hover {
            background-color: $crimson-red;
            color: $white;
        }
    }

    &--hero {
        font-size: 1.25rem;
        padding: 2.5px 42px;

        &:hover {
                background-color: $white;
                color: $crimson-red;
                outline-color: $crimson-red;
            }
    }
}