@use 'global-stylesheets/GlobalColours.scss' as *;
@use 'global-stylesheets/GlobalFunctions.scss' as *;

.small-print-wrap {
    align-items: center;
    background-color: $charcoal-black;
    display: flex;
    flex-direction: column;
    padding: 0 20px 50px;
}

.small-print {
    align-items: center;
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    font-size: px-to-rem(12px);
    gap: 8px;
    text-align: center;

    &__inner {
        align-items: center;
        border-top: 1px solid $midnight-black;
        display: flex;
        flex-direction: column;
        max-width: 1309px;
        padding-top: 50px;
        width: 100%;
    }

    &__logo {
        margin-bottom: 24px;
        height: unset;
        margin-left: 38px;
        width: 76px;
    }

    &__text {
        display: block;
    }
}