@use "global-stylesheets/GlobalColours.scss" as *;
@use "global-stylesheets/GlobalFunctions.scss" as *;

.article-section {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__button {
        align-self: flex-start;
        margin-top: auto;
    }
}