@use "global-stylesheets/GlobalStyles.scss" as *;
@use "global-stylesheets/GlobalColours.scss" as *;

.tile {
    background-color: $dark-cherry-red;
    border: 2px solid $salmon-red;
    border-radius: $global-border-radius;
    box-shadow: $global-box-shadow;
    color: $pale-red;
    display: flex;
    flex-direction: column;
    margin: 0 12.5px;
    padding: 20px 24px 24px;
    position: relative;
    width: 100%;

    &--blue {
        background-color: $orbit-blue;
        border-color: $royal-blue;
        color: $pale-blue;
    }

    &--stacked-content {
        .tile__header-wrap {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &__header-wrap {
        align-items: center;
        color: $white;
        display: flex;
        gap: 20px;
        margin-bottom: 16px;
    }

    &__image {
        max-height: 21px;
        max-width: 21px;
    }
}