
@use "global-stylesheets/GlobalColours.scss" as *;
@use "global-stylesheets/GlobalVariables.scss" as *;

.tile {
    background-color: $dark-cherry-red;
    border: 2px solid $salmon-red;
    border-radius: $global-border-radius;
    box-shadow: $global-box-shadow;
    box-sizing: border-box;
    color: var(--text-secondary-red);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 24px 24px;

    &--blue {
        background-color: $orbit-blue;
        border-color: $royal-blue;
        color: var(--text-secondary-blue);
    }

    &--stacked-content {
        .tile__header-wrap {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__outer {
        padding: calc($global-tile-gap / 2);
        position: relative;
    }

    &__header-wrap {
        align-items: center;
        color: var(--text-primary);
        display: flex;
        gap: 20px;
        margin-bottom: 16px;
    }

    &__image {
        max-height: 21px;
        max-width: 21px;
    }
}