
@use "global-stylesheets/GlobalColours.scss" as *;
@use "global-stylesheets/GlobalVariables.scss" as *;

.tile {
    background-color: var(--bg-primary-red);
    border: 2px solid var(--accent-primary-red);
    border-radius: $global-border-radius;
    box-shadow: var(--shadow-primary);
    box-sizing: border-box;
    color: var(--text-secondary-red);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 24px 24px;

    &--blue {
        background-color: var(--bg-primary-blue);
        border-color: var(--accent-primary-blue);
        color: var(--text-secondary-blue);
    }

    &--stacked-content {
        .tile__header-wrap {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__outer {
        padding: calc($global-tile-gap / 2);
        position: relative;
    }

    &__header-wrap {
        align-items: center;
        color: var(--text-primary);
        display: flex;
        gap: 20px;
        margin-bottom: 16px;
    }

    &__image-wrap {
        align-items: center;
        background-color: var(--accent-primary-red);
        border-radius: 6px;
        display: flex;
        height: 42px;
        justify-content: center;
        width: 42px;
    }

    &__image {
        max-height: 30px;
        max-width: 30px;
    }
}