@use 'global-stylesheets/GlobalColourVars.scss';

.heroimage {
    background-color: GlobalColourVars.$off-white;

    &__content {
        display: flex;
        margin: 0 auto;
        max-width: 1242px;
    }
}