
@use "global-stylesheets/GlobalColours.scss" as *;
@use "global-stylesheets/GlobalVariables.scss" as *;

.cta-tile {
    align-items: center;
    background-color: var(--bg-primary-red);
    border: 2px solid var(--accent-primary-red);
    border-radius: $global-border-radius;
    box-shadow: var(--shadow-primary);
    box-sizing: border-box;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    margin-top: $global-tile-gap;
    padding: 58px 20px 50px;
    position: relative;
    text-align: center;
    z-index: 1;
}