@use "global-stylesheets/GlobalColours.scss" as *;

.slice {
    background-color: transparent;
    padding: 100px 25px;
    
    &--alt {
        background-color: $transparent-white;
    }
    
    &__inner {
        margin: 0 auto;
        max-width: 1268px;
    }
    
    h2 {
        align-items: center;
        display: flex;
        margin-bottom: 60px;

        &::before {
            background-color: $salmon-red;
            border-radius: 2px;
            content: "";
            display: inline-block;
            height: 36px;
            margin-right: 26px;
            position: relative;
            top: 2px;
            width: 8px;
        }
    }
}