@use "global-stylesheets/GlobalColours.scss" as *;
@use "global-stylesheets/GlobalBreakpoints.scss" as *;

.slice {
    background-color: transparent;
    padding: 80px 25px;

    @media (max-width: $medium-width) {
        padding: 50px 25px;
    }
    
    &--alt {
        background-color: $transparent-white;
    }

    &--insert {
        background-color: var(--bg-secondary);
        margin: 80px auto;
        padding: 60px 25px;

        @media (max-width: $medium-width) or (max-height: $medium-height) {
            padding: 45px 25px;
            margin: 50px auto;
        }
    
        @media (max-width: $small-width) or (max-height: $small-height) {
            padding: 30px 25px;
        }
    }
    
    &__inner {
        margin: 0 auto;
        max-width: 1268px;
    }

    &__header {
        align-items: center;
        display: flex;

        &::before {
            background-color: var(--accent-primary-green);
            border-radius: 2px;
            content: "";
            display: inline-block;
            height: 34px;
            margin-right: 26px;
            position: relative;
            top: 2px;
            width: 4px;
        }
    }

    &__desc {
        margin-top: 40px;

        @media (max-width: $large-width) or (max-height: $large-height) {
            margin-top: 28px;
        }
        
        @media (max-width: $medium-width) or (max-height: $medium-height) {
            margin-top: 16px;
        }
    }
}