@use 'global-stylesheets/GlobalColours.scss' as *;
@use 'global-stylesheets/GlobalFunctions.scss';

.hero {
    background-color: transparent;
    padding: 30px 25px 0;

    &__content {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 1242px;
    }

    &__text {
        flex-shrink: 3;
        max-width: 722px;
        padding-bottom: 100px;
        text-align: center;
    }

    &__title {
        line-height: px-to-rem(49px);
        margin-top: 25px;
    }

    &__button {
        display: inline-block;
        margin-top: 75px;
    }
}