@use 'global-stylesheets/GlobalColours.scss' as *;
@use 'global-stylesheets/GlobalFunctions.scss';
@use 'global-stylesheets/GlobalBreakpoints.scss' as *;

.hero {
    align-self: center;
    background-color: transparent;
    display: flex;
    height: calc(85dvh - 78px);
    justify-content: center;
    margin: 0 auto;
    // max-height: $small-height;
    // padding: 30px 25px 0;
    text-align: center;

    // @media (max-width: $large-width) or (max-height: $large-height) {
    //     padding: 30px 25px 0;
    // }

    // @media (max-width: $medium-width) or (max-height: $medium-height) {
    //     padding: 30px 25px 0;
    // }

    &__inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 17.5dvh;
    }

    &__title {
        font-weight: 600;
        margin: 150px auto 75px;
        max-width: 728px;

        @media (max-width: $large-width) or (max-height: $large-height) {
            margin: 120px auto 60px;
        }
    
        @media (max-width: $medium-width) or (max-height: $medium-height) {
            margin: 40px auto 50px;
        }
    }
}