@import 'global-stylesheets/GlobalColourVars';

.hero {
    background-color: $off-white;
    padding: 30px 25px 0;

    &__content {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 1242px;
    }

    &__text {
        flex-shrink: 3;
        max-width: 722px;
        padding-bottom: 100px;
        text-align: center;
    }

    &__imagewrap {
        align-items: flex-end;
        display: flex;
        flex-shrink: 1;
    
        img {
            max-width: 100%;
        }
    }

    h1 {
        margin-top: 25px;
    }

    a {
        display: inline-block;
        margin-top: 10px;

        &:first-of-type {
            margin-right: 29px;
            margin-top: 48px;
        }
    }
}