@use 'global-stylesheets/GlobalAnimations.scss' as *;
@use 'global-stylesheets/GlobalColours.scss' as *;
@use 'global-stylesheets/GlobalFunctions.scss' as *;
@use 'global-stylesheets/GlobalBreakpoints.scss' as *;

.hero {
    animation-name: popBackground;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    align-self: center;
    background-image: var(--bg-hero);
    background-position: 50% 54%;
    background-repeat: no-repeat;
    background-size: 1500px;
    display: flex;
    height: calc(85dvh - 78px);
    justify-content: center;
    margin: 0 auto;
    padding: 0 25px;
    text-align: center;

    @media (max-width: $medium-width) or (max-height: $medium-height) {
        background-position: 50% 45%;
        background-size: 1000px;
    }

    &__inner {
        align-items: center;
        animation-name: fadeIn;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 17.5dvh 0;
        opacity: 0;
    }

    &__title {
        font-weight: 900;
        margin: 150px auto 180px;
        max-width: 1250px;

        @media (max-width: $large-width) or (max-height: $large-height) {
            margin: 120px auto 120px;
        }
    
        @media (max-width: $medium-width) or (max-height: $medium-height) {
            background-size: 1000px;
            margin: 40px auto 100px;
            max-width: 900px;
        }

        em {
            align-items: center;
            background-color: var(--accent-primary-green);
            border-radius: 5px;
            color: var(--text-primary-inverse);
            display: inline-flex;
            gap: 8px;
            line-height: 1;
            margin-right: 4px;
            padding: 3px 16px 10px 14px;

            &::after {
                background-image: url('../../../assets/hero-header/checkmark-dark.svg');
                content: '';
                display: block;
                height: 26.09px;
                position: relative;
                top: 2px;
                width: 34.99px;

                @media (prefers-color-scheme: light) {
                    background-image: url('../../../assets/hero-header/checkmark-light.svg');
                }
            }
        }
    }
}