@use "global-stylesheets/GlobalColours.scss" as *;

.dropdown-item {
    list-style-type: none;

    a {
        align-items: center;
        color: var(--text-primary-inverse);
        display: flex;
        padding: 10px 20px;
        text-decoration: none;

        &:hover,
        &:focus-visible {
            background-color: $off-white;
            color: var(--text-primary);
            outline: none
        }
    }

}