@use "global-stylesheets/GlobalBreakpoints.scss" as *;

.logo {
    height: auto;
    padding-left: 55px;
    width: 144px;

    &--hero {
        height: auto;
        padding-left: 70px;
        width: 180px;

        @media (max-width: $medium-width) or (max-height: $medium-height) {
            padding-left: 50px;
            width: 150px;
        }
    }
}
