@use "global-stylesheets/GlobalColourVars.scss";

.dropdownitem {
    list-style-type: none;

    a {
        align-items: center;
        color: GlobalColourVars.$midnight-black;
        display: flex;
        padding: 10px 20px;
        text-decoration: none;

        &:hover,
        &:focus-visible {
            background-color: GlobalColourVars.$off-white;
            color: GlobalColourVars.$crimson-red;
            outline: none
        }
    }

}