@use "global-stylesheets/GlobalColours.scss" as *;
@use "global-stylesheets/GlobalFunctions.scss" as *;
@use "global-stylesheets/GlobalFonts.scss" as *;
@use "global-stylesheets/GlobalAnimations.scss" as *;
@use "global-stylesheets/GlobalBreakpoints.scss" as *;

$button-outline-thickness: 4px;
$button-padding-y: 10px;
$button-padding-x: 34px;

.button {
    align-items: center;
    background: transparent;
    border: $button-outline-thickness solid var(--text-primary);
    border-radius: 999px;
    border-width: 2px;
    color: var(--text-primary);
    display: inline-flex;
    font-size: px-to-rem(16px);
    font-family: $houschka;
    font-weight: 700;
    padding: calc($button-padding-y - $button-outline-thickness) calc($button-padding-x - $button-outline-thickness);
    position: relative;
    text-decoration: none;
    transition: 0.3s;
    user-select: none;

    &:hover {
        background-color: var(--text-primary);
        color: var(--text-primary-inverse);
    }

    &__arrow {
        height: 15.292px;
        fill: var(--text-primary);
        padding: 6px 0 6px 15px;
        width: 12px;
    }

    &--hero {
        border: unset;
        box-shadow: var(--shadow-primary);
        flex-shrink: 0;
        font-size: px-to-rem(26px);
        padding: $button-padding-y $button-padding-x;
        overflow: hidden;
    
        &::before {
            animation-name: animate-button-border;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            aspect-ratio: 1 / 1;
            background: $magic-gradient;
            height: auto;
            width: 100%;
        }
    
        &::after {
            background-color: var(--text-primary-inverse);
            height: calc(100% - ($button-outline-thickness * 2));
            transition: 0.3s;
            width: calc(100% - ($button-outline-thickness * 2) - 1px);
            
        }

        &::before, &::after {
            border-radius: 999px;
            content: "";
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    
        &:hover {
            background-color: unset;
            color: unset;
            
            &::before {
                animation-play-state: paused;
            }
    
            &::after {
                opacity: 0.8;
            }
        }

        @media (max-width: $medium-width) or (max-height: $medium-height) {
            font-size: px-to-rem(20px);
        }

        @media (max-width: $small-width) {
            font-size: px-to-rem(18px);
            padding: calc($button-padding-y * 0.9) calc($button-padding-x * 0.9);
        }

        img {
            flex-grow: 0;
            height: 40%;
            width: auto;
        }
    }
}