.nav {
    align-items: center;
    background-color: transparent;
    display: flex;
    padding: 30px 50px;

    &__logo {
        display: block;
        margin: 0 auto;
    }

    &__contact-button {
        margin-left: 40px;
    }
}