@use "global-stylesheets/GlobalColours.scss" as *;
@use "global-stylesheets/GlobalFunctions.scss" as *;

.nav {
    align-items: center;
    background-color: transparent;
    color: var(--text-primary);
    display: flex;
    font-size: px-to-rem(18px);
    height: 70px;
    justify-content: flex-end;
    padding: 0 30px;

    &__logo {
        margin-right: auto;
        padding: 0 59px 0 4px;
        width: 60px;
    }

    a {
        margin-left: 59px;

        &:first-child {
            margin-left: 0;
            margin-right: auto;
        }
    }
}