@import "global-stylesheets/GlobalColourVars.scss";

.nav {
    align-items: center;
    color: $midnight-black;
    background-color: $white;
    display: flex;
    font-size: 1.125rem;
    padding: 26px 33px;

    img {
        display: block;
        margin-right: auto;
    }

    a {
        margin-left: 67px;
    }
}