@use "global-stylesheets/GlobalColours.scss" as *;
@use "global-stylesheets/GlobalFunctions.scss" as *;

.nav {
    align-items: flex-start;
    color: $white;
    background-color: transparent;
    display: flex;
    font-size: px-to-rem(18px);
    justify-content: flex-end;
    padding: 26px 33px;

    a {
        margin-left: 59px;

        &:first-child {
            margin-left: 0;
            margin-right: auto;
        }
    }
}