
@use "global-stylesheets/GlobalColours.scss" as *;
@use "global-stylesheets/GlobalVariables.scss" as *;



.article-promo {
    background-color: var(--bg-primary-blue);
    border-radius: $global-border-radius;
    box-shadow: var(--shadow-primary);
    color: var(--text-primary);
    display: flex;
    min-height: 327px;
    overflow: hidden;
    text-decoration: none;

    @media (prefers-color-scheme: light) {
        background-color: $white;
    }
    
    &:nth-child(even) {
        .article-promo__text-section {
            order: 2;
        }
        
        .article-promo__image {
            order: 1;
        }
    }

    &__text-section {
        display: flex;
        flex-direction: column;
        max-width: 387px;
        padding: 33px 50px;
    }

    &__image-section {
        background-position: center;
        background-size: cover;
        min-height: 0;;
        width: 100%;
    }

    &__header, &__desc {
        font-weight: 400;
        margin-bottom: 20px;

        b {
            font-weight: 800;
        }
    }

    &__desc {
        color: var(--text-secondary-blue);
    }
}