@use "global-stylesheets/GlobalColours.scss" as *;
@use "global-stylesheets/GlobalFunctions.scss" as *;

.link {
    align-items: center;
    color: var(--text-primary);
    font-weight: 400;
    padding: 2px 4px;
    text-decoration: none;
    user-select: none;

    &:hover {
        color: var(--text-secondary-green);
        cursor: pointer;
    }

    &__text {
        position: relative;
        bottom: 1.25px;
    }

    &--hero {
        border-bottom: 1px solid var(--text-primary-green);
        font-size: px-to-rem(20px);
        padding: 0;

        &:hover {
            border-color: $midnight-black;
            color: var(--text-primary-inverse);
        }
    }

    &--bold {
        font-weight: 700;

        &::after {
            background-image: url('~assets/dropdown/arrow-down-bold.svg');
        }
    }
}