@use 'global-stylesheets/GlobalColours.scss' as *;
@use 'global-stylesheets/GlobalFunctions.scss' as *;

.header {
    background-color: transparent;
    padding: 30px 25px 80px;

    h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;

        &::before {
                background-color: var(--accent-primary-red);
                border-radius: 2px;
                content: "";
                display: block;
                height: 4px;
                position: relative;
                margin: 0 auto 25px;
                width: 34px;
        }
    }

    p {
        font-size: px-to-rem(16px);
        margin-top: 25px;
        text-align: center;
    }
}