@import 'global-stylesheets/GlobalColourVars';

.header {
    background-color: $off-white;
    padding: 30px 25px 80px;

    h1 {
        margin-bottom: 25px;

        &::before {
            background-color: $crimson-red;
            content: "";
            display: block;
            height: 5px;
            margin: 0 auto 25px;
            width: 37px;
        }
    }
}