@use 'global-stylesheets/GlobalColourVars.scss';
@use 'global-stylesheets/GlobalFunctions.scss';

.header {
    background-color: transparent;
    padding: 30px 25px 80px;

    h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;

        &::before {
            background-color: GlobalColourVars.$crimson-red;
            content: "";
            display: block;
            height: 5px;
            margin: 0 auto 25px;
            width: 37px;
        }
    }

    p {
        font-size: px-to-rem(16px);
        margin-top: 25px;
        text-align: center;
    }
}