@import "global-stylesheets/GlobalColourVars.scss";

.link {
    align-items: center;
    color: $midnight-black;
    font-weight: 400;
    padding: 2px 4px;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        color: $crimson-red;
        cursor: pointer;
    }

    &__text {
        position: relative;
        bottom: 1.25px;
    }

    &--bold {
        font-weight: 700;

        &::after {
            background-image: url('~assets/dropdown/arrow-down-bold.svg');
        }
    }
}