@use "global-stylesheets/GlobalColourVars.scss";
@use "global-stylesheets/GlobalFunctions.scss";

.link {
    align-items: center;
    color: GlobalColourVars.$white;
    font-weight: 400;
    padding: 2px 4px;
    text-decoration: none;

    &:hover {
        color: GlobalColourVars.$crimson-red;
        cursor: pointer;
    }

    &__text {
        position: relative;
        bottom: 1.25px;
    }

    &--hero {
        border-bottom: 1px solid GlobalColourVars.$crimson-red;
        color: GlobalColourVars.$crimson-red;
        font-size: px-to-rem(20px);
        padding: 0;

        &:hover {
            border-color: GlobalColourVars.$midnight-black;
            color: GlobalColourVars.$midnight-black;
        }
    }

    &--bold {
        font-weight: 700;

        &::after {
            background-image: url('~assets/dropdown/arrow-down-bold.svg');
        }
    }
}