@import 'global-stylesheets/GlobalColourVars';

.hero {
    background-color: $off-white;

    &__content {
        display: flex;
        margin: 0 auto;
        max-width: 1242px;
    }

    a {
        display: inline-block;
        margin-top: 48px;

        &:first-of-type {
            margin-right: 29px;
        }
    }
}