@use "GlobalAnimations.scss" as *;
@use "GlobalBreakpoints.scss" as *;
@use "GlobalColours.scss" as *;
@use "GlobalFonts.scss" as *;
@use "GlobalFunctions.scss" as *;
@use "GlobalVariables.scss" as *;


// General styles

* {
    margin: 0;
}

body {
    background: $orbit-black;
    background: $space-gradient;
    color: $white;
    font-family: $houschka;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $quasimoda;
    margin: 0;
}

h1 {
    line-height: 1.4;
    font-size: px-to-rem(44px);
    font-weight: 600;
}

h2 {
    font-size: px-to-rem(34px);
    font-weight: 900;
}

h3 {
    font-size: px-to-rem(24px);
    font-weight: 800;
}

p {
    font-size: px-to-rem(16px);
    line-height: 1.5;
}

em {
    font-style: normal;
    font-weight: 900;
}


// Font size responsiveness

@media (max-width: $medium-width) or (max-height: $medium-height) {
    h1 {
        font-size: px-to-rem(36px);
    }

    h2 {
        font-size: px-to-rem(28px);
    }

    h3 {
        font-size: px-to-rem(20px);
    }

    p {
        font-size: px-to-rem(16px);
    }
}

@media (max-width: $small-width) or (max-height: $small-height) {
    h1 {
        font-size: px-to-rem(30px);
    }

    h2 {
        font-size: px-to-rem(24px);
    }

    h3 {
        font-size: px-to-rem(18px);
    }

    p {
        font-size: px-to-rem(16px);
    }
}