// Dark theme

// Gradients
$space-gradient: linear-gradient(12deg, #038C4C 0%, #000000 26%, #000640 49%, #000000 80%, #008C4B 100%);
$magic-gradient: linear-gradient(45deg, rgba(255, 49, 52, 1) 0%, rgba(33, 69, 250, 1) 100%);

// Reds
$very-pale-red: #FFF2F2;
$pale-red: #DEB7B7;
$salmon-red: #FF5C5E;
$crimson-red: #BE0001;
$garnet-red: #7F0001;
$dark-cherry-red: #200000;

// Blues
$very-pale-blue: #F5F6FF;
$baby-blue: #D7E7F7;
$pale-blue: #B7BBDE;
$royal-blue: #4861E1;
$mid-blue: #0145BE;
$muted-blue: #0E2236;
$ocean-blue: #051a34;
$orbit-blue: #000C20;
$midnight-blue: #000B33;

// Greens
$very-pale-green: #F5FFFB;
$pale-green: #C1D6CD;
$lime-green: #3ACD88;
$leaf-green: #079d60;
$moss-green: #00180D;

// Blacks
$black: #000000;
$charcoal-black: #0C0C0C;
$orbit-black: #02172D;
$midnight-black: #1D3035;

// Greys
$ash-grey: #F7F7F7;
$stone-grey: #A9A9A9;

// Whites
$white: #FFFFFF;
$off-white: #B4B4B4;
$transparent-white: rgba(255, 255, 255, 0.05);


// ---------------------------------

// Light theme

// Gradients
$party-gradient: linear-gradient(12deg, rgb(224 255 226) 0%, rgb(255, 253, 253) 28%, rgb(191, 216, 242) 48%, rgb(255, 255, 255) 82%, rgb(224 255 226) 100%)