// Houschka
@import url("https://use.typekit.net/zed7vck.css");
$houschka: "houschka-pro", Arial, sans-serif;

// Freight Text Pro
@import url("https://use.typekit.net/zed7vck.css");
$quasimoda: "quasimoda", "houschka-pro", Arial, serif;