@use "GlobalFonts.scss" as *;
@use "GlobalColours.scss" as *;
@use "GlobalFunctions.scss" as *;

// Border radius
$global-border-radius: 15px;

// Box shadows
$global-box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.32);

* {
    margin: 0;
}

body {
    background: $orbit-black;
    background: $space-gradient;
    color: $white;
    font-family: $houschka;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $quasimoda;
    margin: 0;
}

h1 {
    font-size: px-to-rem(44px);
    font-weight: 400;
}

h2 {
    font-size: px-to-rem(34px);
    font-weight: 800;
}

h3 {
    font-size: px-to-rem(24px);
    font-weight: 800;
}

p {
    font-size: px-to-rem(16px);
    line-height: 1.5;
}

em {
    font-style: normal;
    font-weight: 800;
}