// Dark theme

// Gradients
$space-gradient: linear-gradient(12deg, rgba(83, 0, 3, 1) 0%, rgba(4, 0, 0, 1) 18%, rgba(2, 23, 45, 1) 44%, rgba(1, 4, 8, 1) 80%, rgba(161, 1, 3, 1) 100%);
$magic-gradient: linear-gradient(45deg, rgba(255, 49, 52, 1) 0%, rgba(33, 69, 250, 1) 100%);

// Reds
$pale-red: #DEB7B7;
$salmon-red: #FF5C5E;
$crimson-red: #BE0001;
$garnet-red: #7F0001;
$dark-cherry-red: #200000;

// Blues
$pale-blue: #B7BBDE;
$royal-blue: #4861E1;
$ocean-blue: #051a34;
$orbit-blue: #000C20;
$midnight-blue: #000B33;

// Blacks
$black: #000000;
$charcoal-black: #0C0C0C;
$orbit-black: #02172D;
$midnight-black: #1D3035;

// Greys
$ash-grey: #F7F7F7;
$stone-grey: #A9A9A9;

// Whites
$white: #FFFFFF;
$off-white: #B4B4B4;
$transparent-white: rgba(255, 255, 255, 0.05);

// ---------------------------------

// Light theme

// Gradients
$party-gradient: linear-gradient(12deg, rgba(255, 238, 238, 1) 0%, rgba(255, 253, 253, 1) 18%, rgba(191, 216, 242, 1) 44%, rgba(255, 255, 255, 1) 82%, rgba(255, 218, 219, 1) 100%);