// Width breakpoints
$very-small-width: 400px;
$small-width: 600px;
$medium-width: 850px;
$large-width: 1400px;
$very-large-width: 2400px;

// Height breakpoints
$very-small-height: 600px;
$small-height: 900px;
$medium-height: 1200px;
$large-height: 1500px;
$very-large-height: 1800px;