@import "GlobalFonts.scss";
@import "GlobalColourVars.scss";
@import "GlobalFunctions.scss";

* {
    margin: 0;
}

body {
    background: $orbit-black;
    background: $space-gradient;
    color: $white;
    font-family: $houschka;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $quasimoda;
    margin: 0;
}

h1 {
    font-size: px-to-rem(44px);
    font-weight: 400;
}

h2 {
    font-size: px-to-rem(34px);
    font-weight: 900;
}

h3 {
    font-size: px-to-rem(24px);
    font-weight: 900;
}

em {
    font-style: normal;
    font-weight: 900;
}