@import "GlobalFonts.scss";
@import "GlobalColourVars.scss";

body {
    color: $midnight-black;
    font-family: $houschka;
    font-weight: 400;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $freight;
    margin: 0;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 800;
}

em {
    color: $crimson-red;
    font-style: italic;
}