@use "GlobalFonts.scss";
@use "GlobalColourVars.scss";
@use "GlobalFunctions.scss";

* {
    margin: 0;
}

body {
    background: GlobalColourVars.$orbit-black;
    background: GlobalColourVars.$space-gradient;
    color: GlobalColourVars.$white;
    font-family: GlobalFonts.$houschka;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: GlobalFonts.$quasimoda;
    margin: 0;
}

h1 {
    font-size: px-to-rem(44px);
    font-weight: 400;
}

h2 {
    font-size: px-to-rem(34px);
    font-weight: 800;
}

h3 {
    font-size: px-to-rem(24px);
    font-weight: 800;
}

em {
    font-style: normal;
    font-weight: 800;
}