@use "GlobalAnimations.scss" as *;
@use "GlobalBreakpoints.scss" as *;
@use "GlobalColours.scss" as *;
@use "GlobalFonts.scss" as *;
@use "GlobalFunctions.scss" as *;
@use "GlobalVariables.scss" as *;


// Theme styles

:root {
    --text-primary: #{$white};
    --text-primary-inverse: #{$midnight-black};
    --text-primary-red: #{$salmon-red};
    --text-primary-blue: #{$royal-blue};
    
    --text-secondary: #{$off-white};
    --text-secondary-blue: #{$pale-blue};
    --text-secondary-red: #{$pale-red};
}

@media (prefers-color-scheme: light) {
    :root {
        --text-primary: #{$midnight-black};
        --text-primary-inverse: #{$white};

        --text-secondary: #{$midnight-black};
        --text-secondary-blue: #{$ocean-blue};
        --text-secondary-red: #{$dark-cherry-red};
    }
}

// General styles

* {
    margin: 0;
}

body {
    background: $orbit-black;
    background: $space-gradient;
    color: var(--text-primary);
    font-family: $houschka;
    font-weight: 400;

    @media (prefers-color-scheme: light) {
        background: $white;
        background: $party-gradient;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $quasimoda;
    margin: 0;
}

h1 {
    line-height: 1.4;
    font-size: px-to-rem(44px);
    font-weight: 600;
}

h2 {
    font-size: px-to-rem(34px);
    font-weight: 900;
}

h3 {
    font-size: px-to-rem(24px);
    font-weight: 800;
}

p {
    font-size: px-to-rem(16px);
    line-height: 1.5;
}

em {
    font-style: normal;
    font-weight: 900;
}


// Font size responsiveness

@media (max-width: $medium-width) or (max-height: $medium-height) {
    h1 {
        font-size: px-to-rem(36px);
    }

    h2 {
        font-size: px-to-rem(28px);
    }

    h3 {
        font-size: px-to-rem(20px);
    }

    p {
        font-size: px-to-rem(16px);
    }
}

@media (max-width: $small-width) or (max-height: $small-height) {
    h1 {
        font-size: px-to-rem(30px);
    }

    h2 {
        font-size: px-to-rem(24px);
    }

    h3 {
        font-size: px-to-rem(18px);
    }

    p {
        font-size: px-to-rem(16px);
    }
}