@use 'global-stylesheets/GlobalColours.scss' as *;
@use 'global-stylesheets/GlobalFunctions.scss' as *;

.footer-links {
    background-color: $charcoal-black;
    padding: 50px 20px;

    &__inner {
        display: flex;
        gap: 20px;
        margin: 0 auto;
        max-width: 376px;
    }

    &__column {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 178px;
    }

    &__header {
        font-size: px-to-rem(16px);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: none;
        margin-top: 28px;
        padding: 0;
    }

    &__link {
        color: $white;
        font-size: px-to-rem(12px);
        font-weight: 600;
    }
}