@use 'global-stylesheets/GlobalColours.scss' as *;
@use 'global-stylesheets/GlobalFunctions.scss' as *;

.footer-links {
    background-color: var(--bg-primary);
    padding: 50px 20px;

    &__inner {
        display: flex;
        gap: 20px;
        margin: 0 auto;
        max-width: 376px;
    }

    &__column {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 178px;
    }

    &__header {
        font-size: px-to-rem(16px);
    }

    &__list {
        display: flex;
        gap: 15px;
        list-style: none;
        margin-top: 28px;
        padding: 0;

        &--column {
            flex-direction: column;
        }
    }

    &__link {
        color: var(--text-primary);
        display: block;
        font-size: px-to-rem(12px);
        font-weight: 600;
        max-height: 32px;

        &:hover {
            text-decoration: none;
        }
    }

    &__logo {
        border: 2px solid transparent;
        border-radius: 4px;
        transition: 0.18s;

        &:hover {
            border: 2px solid var(--text-primary);
        }
    }
}